.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewForm{
  border: 1px solid #0d0d0d;
  box-shadow: 1px 1px #0d0d0d, 2px 2px #0d0d0d;
  padding: 1rem;
  width: 20rem;
}

input, textarea button
{
  display: block;
  margin: 0.5rem auto 0 auto;
  margin: 0.25rem 0.5rem;
}

input, textarea 
{
  width: calc(80%-1rem)
}

button {
  border: 1px solid #0d0d0d;
  cursor: pointer;
}

.reviewItem {
  background-color: rgb(0, 255, 149);
  border: 1px solid #0d0d0d;
  box-shadow: 1px 1px #0d0d0d, 2px 2px #0d0d0d;
  padding: 1 rem;
  width: 20rem;
  margin-top: 1rem;
}

.reviewList{
  background-image: url("https://st.depositphotos.com/1579821/2489/i/600/depositphotos_24893883-stock-photo-ice-cream-cones-with-sprinkles.jpg");
  background-position: center;
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  font-size: 40px;
  background-repeat: no-repeat;
}

.HomePage {
  background-image: 
  url("https://www.mashed.com/img/gallery/ice-cream-day-2021-where-to-get-the-best-food-freebies-and-deals/l-intro-1626441727.jpg");
  background-position: center;
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  font-size: 40px;
  background-repeat: no-repeat;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color:green;
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.HomePageText {
  text-align: center;
  color:rgb(79, 66, 198) 
}

.gridContainer{
  background-image: url('https://media.istockphoto.com/photos/ice-cream-cones-bouquet-picture-id1400292359?b=1&k=20&m=1400292359&s=170667a&w=0&h=w35CQ4RRN81Ta5_SdxJYOFtM_SBvVkvLwjiKWL28Dok=');
  background-position: center;
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  font-size: 40px;

}

.ordertitle{
  text-align: center;
  color:rgb(255, 0, 195)
}

.order{
  color:darkblue;
  background-color: aqua;
  width: 30rem;
}

.addOrder{
  width:40rem;
}

.bar{
  display:flex;
  justify-content: space-between;
  align-items: center;
}